

:root {
	--root-main-padding: 3.5vw;
	--root-padding-top: 1.5vw;
	--root-padding-top-full: var(--root-main-padding);
	--root-padding-left: var(--root-main-padding);
	--root-padding-right: var(--root-main-padding);
	--root-padding-bottom: var(--root-main-padding);
	--highlight: #ead0fd;
}


html {
	margin: 0;
	padding: 0;
}

body, .root {
	font-family: Arial, sans-serif;
	padding: var(--root-padding-top) var(--root-padding-right) var(--root-padding-bottom) var(--root-padding-left);
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 2.5em;
	margin-top: 0.5em;
}

.noParent {
	padding-top: var(--root-padding-top-full);
}

code {
	background: #eee;
}

input[type=text] {
	width: 10em;
}

input[type=number] {
	width: 4em;
}


.parentRef::before {
	content: "< ";
	font-weight: bold;
}

.parentRef {
	margin-left: -1.5vw;
	margin-bottom: 2em;
}


.error {
	color: #e00;
}

.preciseTextBox {
	border: 1px solid lightgray;
    padding: 0.5em;
    overflow: auto;
    white-space: pre;
	font-family: monospace;
	font-size: 1rem;
}

